<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - Ambulance Booking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" class="btn"><i class="fas fa-arrow-left"></i> Back to Home</a>

        
        
    </nav>
    <h1>Our Services</h1>
    <p> Our Ambulance Booking System offers a comprehensive suite of services geared towards providing prompt and efficient emergency medical assistance.
        Users can easily book ambulances through our intuitive interface, prioritizing quick response times during critical situations.
        Real-time availability information allows users to make informed decisions based on proximity and readiness.
        Our dedicated 24/7 emergency response team is equipped to assist users in coordinating immediate medical help.
        With GPS tracking, users can monitor the real-time location of dispatched ambulances, estimating their arrival times accurately.
        The system facilitates the sharing of essential patient information in advance, enabling emergency responders and medical professionals to prepare for tailored care.
        User accounts and history streamline the booking process, storing crucial details for future reference. Secure payment options ensure a smooth and safe transaction experience.
        Notification alerts keep users informed about the status of their ambulance bookings, from confirmation to arrival.
        Our customer support team is readily available to address any queries or concerns, aiming to provide a seamless experience for users.
        Community feedback and ratings are encouraged, fostering a collaborative approach to continuously enhance our system and improve the quality of emergency medical assistance.
        In essence, our Ambulance Booking System leverages technology to ensure that help is readily available when it matters the most.We offer a range of emergency ambulance services to ensure prompt medical attention.</p>
    
</body>
</html>
